1. Declare your age as integer variable

In [3]:
age = int(24)

2. Declare your height as a float variable

In [4]:
height=float(170.5)

3. Declare a variable that store a complex number

In [5]:
complex_numer = 1+5j

In [7]:
(1+5j)*(1-5j)

(26+0j)

4. Write a code that prompts the user to enter base and height of the triangle and calculate an area of this triangle (area = 0.5 x b x h).

In [8]:
b = float(input("Enter base"))
h = float(input("Enter height"))
area = 0.5*b*h
print(area)

Enter base20
Enter height34.99
349.90000000000003

In [9]:
a = int(input("Enter side a: "))
b = int(input("Enter side b: "))
c = int(input("Enter side b: "))
triangle = a+b+c
print("The perimeter of the triangle is ", triangle)

Enter side a: 3
Enter side b: 5
Enter side b: 6
The perimeter of the triangle is  14

6. Get length and width of a rectangle using prompt. Calculate its area (**area = length x width**) and perimeter (**perimeter = 2 x (length + width)**)

In [12]:
length = int(input("Enter length: "))
width = int(input("Enter width: "))
area = int(length*width)
perimeter = int(2*(length+width))
print(area,perimeter)

Enter length: 3
Enter width: 4
12 14

7. Get radius of a circle using prompt. Calculate the area (**area = pi x r x r**) and circumference (**c = 2 x pi x r**) where pi = 3.14.

In [15]:
pi = 3.14
r = int(input())
area = pi*r**2
c = 2*pi*r
print('area', area)
print('c', c)

3
area 28.26
c 18.84

8. Calculate the slope, x-intercept and y-intercept of $y = 2x -2$

In [74]:
from scipy.misc import derivative
def y(x):
    return 2*x-2
a=derivative(y,x0=1,dx=1.0)
print('slope1:'+str(a))

slope:2.0

9. Slope is ($m = (y2-y1)/(x2-x1)$). Find the slope and **[Euclidean distance](https://en.wikipedia.org/wiki/Euclidean_distance#:~:text=In%20mathematics%2C%20the%20Euclidean%20distance,being%20called%20the%20Pythagorean%20distance.)** between point (2, 2) and point (6,10)

In [80]:
import numpy as np
def op(x1,x2,y1,y2):
    b=(y2-y1)/(x2-x1)
    Ed=np.sqrt((x2-x1)**2+(y2-y1)**2)
    return(b,Ed)

[x1,y1]=[2,2]
[x2,y2]=[6,10]
b,Ed=op(x1,x2,y1,y2)

print('slope2:'+str(b))
print('Euclidean distance:'+str(Ed))

slope2:2.0
Euclidean distance:8.94427190999916

10. Compare the slopes in tasks 8 and 9.

In [86]:
if a==b:
    print('slope1 is equal to slope2')
elif (a>b):
    print('slope1 is larger than slope2')
else:
    print('slope1 is smaller than slope2')

slope1 is larger than slope2

11. Calculate the value of y ($y = x^2 + 6x + 9$). Try to use different x values and figure out at what x value y is going to be 0.

In [94]:
import random as rd
import math
x=rd.randint(0,10)
y=x**2+6*x+9

print('y='+str(y))
a,b,c=1,6,9
y=a*x**2+b*x+c

deta=b**2-4*a*c
if deta<0:
    print('no answer')
else:
    d=math.sqrt(deta)
    x1=(d-b)/(2*a)
    x2=(-d-b)/(2*a)
    if x1==x2:
        print('x='+str(x1))
    else:
        print('x1='+str(x1),'x2'+str(x2))

y=169
x=-3.0

12. Find the length of **`'python'`** and **`'datascience'`** and make a falsy comparison statement.

In [19]:
a = len('python')
b = len('datascience')
a>b

False

13. Use **`and`** operator to check if **`on`** is found in both **`python`** and **`cannon`**

In [35]:
if('on' in 'python'and'cannon'):
    print('true')
else:
    print('false')

true

14. **`I hope this course is not full of jargon`**. Use **`in`** operator to check if **`jargon`** is in the sentence.

In [39]:
if('on' in 'I hope this course is not full of jargon'):
    print('true')
else:
    print('false')

true

15. There is no **`on`** in both **`python`** and **`cannon`**

In [40]:
if('on' not in 'python'and'cannon'):
    print('true')
else:
    print('false')

false

16. Find the length of the text **`python`** and convert the value to float and convert it to string

In [46]:
a = float(len('python'))
b = str(a)
print(a,b)

6.0 6.0

17. Even numbers are divisible by 2 and the remainder is zero. How do you check if a number is even or not using python?

In [48]:
k = int(input())
if(k%2==0):
    print('even')
else:
    print('not even')

3
not even

18. Check if the floor division of 7 by 3 is equal to the int converted value of 2.7.

In [76]:
a = 7//3
b = int(2.7)
print(a==b)

True

19. Check if type of **"10"** is equal to type of 10

In [77]:
print(type('10')==type(10))

False

20. Check if int(**"9.6"**) is equal to 10

In [78]:
print(int(9.6)==10)

False

21. Write a code that prompts the user to enter hours and rate per hour. Calculate pay of the person?

```py
Enter hours: 40
Enter rate per hour: 30
Your weekly earning is 1200
```

In [81]:
a=int(input('Enter hours:'))
b=int(input('Enter rate per hour:'))
c=a*b
print('Your weekly earning is '+str(c))

Enter hours:40
Enter rate per hour:30
Your weekly earning is 1200

22. Write a script that prompts the user to enter number of years. Calculate the number of seconds a person can live. Assume a person can live hundred years

```py
Enter number of years you have lived: 100
You have lived for 3153600000 seconds.
```

In [82]:
a=int(input('Enter number of years you can lived:'))
b=a/(365*24*60*60)
print('You have lived for '+str(b) +' seconds')

Enter number of years you can lived:90
You have lived for 2.853881278538813e-06 seconds

23. Write a Python code that displays the following table

```py
1 2 3 4 5  
2 4 6 8 10
3 6 9 12 15
4 8 12 16 20
5 10 15 20 25
```

In [68]:
for i in range(1,6):
    my_list = [1,2,3,4,5]
    my_new_list = [j*i for j in my_list]
    print(my_new_list)

[1, 2, 3, 4, 5]
[2, 4, 6, 8, 10]
[3, 6, 9, 12, 15]
[4, 8, 12, 16, 20]
[5, 10, 15, 20, 25]

In [69]:
for i in range(1,6):
    print(i,2*i,3*i,4*i,5*i)

1 2 3 4 5
2 4 6 8 10
3 6 9 12 15
4 8 12 16 20
5 10 15 20 25